@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">

<h1>Welcome to Sweets and Treats</h1>
<img src="https://i.etsystatic.com/7640213/r/il/56d67b/802287822/il_570xN.802287822_tdkn.jpg" height=200px; width=200px>

@if (User.Identity.IsAuthenticated)
{
    <strong><p>Hello @User.Identity.Name!</p></strong>
     @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log out" />        
    }<hr>
    <p>@Html.ActionLink("Add new flavour", "Create", "Flavour")</p><hr>
    <p>@Html.ActionLink("Add new Treat", "Create", "Treat")</p>
}
else
{
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    <p>@Html.ActionLink("Show all treats", "Index", "Treat")</p>
}
 