@{
  Layout = "_Layout";
}

@model Sweets.Models.Flavour

<h2>Edit</h2>

<h4>Edit this Flavour: @Html.DisplayFor(model => model.FlavourName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavourId)

    @Html.LabelFor(model => model.FlavourName)
    @Html.EditorFor(model => model.FlavourName)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Flavours", "Index")</p>